@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');


:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #14213d;
    --color-secondary: #fca311;
    --color-tertiary: #e5e5e5;
}

* { 
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230a111e'/%3E%3Cstop offset='1' stop-color='%230a111e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230a111e'/%3E%3Cstop offset='1' stop-color='%230a111e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2314213D'/%3E%3Cstop offset='1' stop-color='%2314213D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/*scrollbar*/

body::-webkit-scrollbar {
    width: 12px; 
}
body::-webkit-scrollbar-track {
    background: var(--color-tertiary); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 20px; 
    border: 3px solid var(--color-tertiary);
}

/* transition */

.transition-slide {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    background-color: var(--color-secondary);
    z-index: 101;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
  
.transition-slide.is-active {
    left: 0;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
}
nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
nav h1 {
    font-size: 1.5em;
    color: var(--color-white);
    padding: 1em;
}
nav .contact {
    padding: 1em;
}
nav .contact a {
    margin: 0 0.3em;
}
nav .contact svg:hover {
    scale: 1.1;
}
nav .back {
    padding: 1em 2em;
    transition: all 0.3s ease 0s;
}
nav .back:hover {
    transform: translateX(-10px);
    transition: all 0.3s ease 0s;
}
nav .language a {
    padding: 1em;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
}
nav .language a:hover {
    text-decoration: underline;
}

/* hero container */

.hero-container {
    display: flex;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 50%;
    min-height: 85vh;
}
.hero-content h1 {
    font-size: 3em;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 0.5em;
}
.hero-content h2 {
    font-size: 1.5em;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1em;
}
.hero-content .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content button {
    border: 1px solid var(--color-black);
	background-color: var(--color-secondary);
	color: var(--color-white);
    width: 250px;
    border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 45px;
    margin: 0 0.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    transition: all 0.3s ease 0s;
}
.hero-content button:hover {
	background-color: var(--color-tertiary);
    color: var(--color-black);
    transition: all 0.3s ease 0s;
}
.hero-content button:active {
	transform: scale(0.95);
}
.hero-content button:focus {
	outline: none;
}
.hero-content button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.hero-content img {
    width: 600px;
    transition: all 0.3s ease 0s;
}
.hero-content img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}

/* projects */

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 70%;
    border: solid 1px var(--color-tertiary);
    border-radius: 20px;
    opacity: 0.8;
}
.projects-content h2 {
    font-size: 2em;
    padding: 1em;
    color: var(--color-white);
    text-align: left;
    margin-bottom: 0.5em;
}


/* mobile */

@media screen and (max-width: 992px) {
    nav h1 {
        font-size: 3em;
    }
    nav .contact {
        padding: 1em 2em;
    }
    nav .language a {
        font-size: 2em;
    }
    nav .back {
        padding: 3em;
    }
    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-content {
        width: 100%;
        min-height: 35vh;
    }
    .hero-content img {
        width: 600px;
    }
    .hero-content h1 {
        font-size: 4em;
    }
    .hero-content h2 {
        font-size: 3em;
    }
    .button-container {
        flex-direction: column;
    }
    .button-container button {
        font-size: 2em;
        width: 400px;
        margin: 0.3em;
    }
    .projects-content {
        width: 90%;
    }
}